<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="TSw" value="D:\ahd_assets\VDMXpressPRO\VDmXpressPro.exe"/>
    <add key="KSK" value="D:\ahd_assets\ahd_shortcuts.pdf"/>
  </appSettings>
</configuration>
